/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color:#efedea;
}
html, body{
	width:100%;
	height:100%;
	overflow:auto;
	/*overflow-y:hidden;*/
	overflow-x:hidden;
	background-color:#FFF;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/********************************************************************************************************/


@font-face {
    font-family: 'archiveregular';
    src: url('../fonts/archive-webfont.eot');
    src: url('../fonts/archive-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/archive-webfont.woff2') format('woff2'),
         url('../fonts/archive-webfont.woff') format('woff'),
         url('../fonts/archive-webfont.ttf') format('truetype'),
         url('../fonts/archive-webfont.svg#archiveregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body{
	/*margin:0 0 0 0;*/
	/*background-color:#1a1a1a;*/
	font-family:'archiveregular';
	/*font-style:italic;*/
	color:#000;
        height:100%;
}

#root{
	position:relative;
	width:100%;
	height:100%;
	background-color:#FFF;
        /*min-height: 100%;*/
  display: none;
  opacity: 0;
}

* { margin: 0; padding: 0; z-index: 1; }
html, body { height: 100%; }

:link,:visited  {text-decoration: none;}

/*a {
	color:#FFFFFF;
}*/

a:visited {
  color: #000;
}

#header {
	width:100%;
	height:80px;
  margin-top: 50px;
}

#header #header_content {
	width:700px;
  left:50%;
	margin-left:-250px;
  position: absolute;
}

#header #header_content #logo {
	padding-top:26px;
	float:left;
}

#header #header_content #menu {
	padding-top:31px;
	/*float:right;*/
}

#header #header_content #menu ul {
	margin:0 0 0 0;
	list-style:none;
}

#header #header_content #menu ul li {
	color:#000;
	font-size:40px;
	display:inline;
  margin-right:90px;
}

.separator_menu {
  position: absolute;
  margin-top: 5px;
  margin-left:-55px;
}

#content {
	position:relative;
	width:755px;
	margin:0 auto;
	top:70px;
        display:table;
        /*height: 56%;*/
}

#content h1 {
	font-size:48px;
}

#content h2 {
	font-size:30px;
	margin-top:20px;
}

#content #ultimos_trabalhos_titulo {
	margin-top:30px;
	width:162px;
	padding:10px 10px 10px 10px;
	background-color:#e3e3e3;
	color:#000000;
	font-size:20px;
}


#hero {
}

#hero .primary-content {
  padding-bottom: 20px;
}

#hero h1 {
  font-size: 70px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #D26;
  margin-bottom: 0.1em;
}

#hero .tagline {
  font-size: 24px;
  margin-bottom: 0.8em;
  line-height: 1.2;
}


/* ---- big ol buttons ---- */

.hero-masonry .button {
  display: block;
  font-size: 1.3em;
  line-height: 1.2em;
  position: relative;
  padding-left: 50px;
  background: #D26;
}

.hero-masonry .button:hover { background: #A2C; }

.hero-masonry .button .icon {
  font-size: 32px;
  position: absolute;
  left: 10px;
  top: 10px;
}

/* ---- hero masonry ---- */

.hero-masonry {
  border-radius: 10px;
  padding: 10px 1%;
  margin-bottom: 20px;
}

.hero-masonry:after {
  content: '';
  display: block;
  clear: both;
}

.hero-item,
.hero-masonry .grid-sizer {
  width: 30.9%; /* juse a lil under  47 */
  margin: 10px 1%;
  float: left;
  border-radius: 8px;
}

/* necessary for proper sizing with margins */
.hero-masonry .grid-sizer {
  position: absolute;
}

.hero-item.texty {
  background: #D8D6D2;
  padding: 10px;
}


.hero-item.has-title,
.hero-item.w2 {
  width: 96%;
}

.hero-item.has-example {
}

.hero-item.has-example a {
  font-size: 13px;
  font-weight: bold;
  background: #f15753;
  color: white;
  display: block;
  border-radius: 10px 10px 8px 8px;
}

.hero-item.has-example a:hover {
  background: #A2C;
  color: white;
}

.hero-item.has-example img {
  display: block;
  max-width: 100%;
  border-radius: 8px 8px 0 0;
}

.hero-item.has-example .example-title {
  padding: 5px 10px;
  margin: 0;
}

/* enough width for 4 columns */
/*@media screen and ( min-width: 720px ) {

  .hero-item,
  .hero-masonry .grid-sizer {
    width: 22.5%;
  }

  .hero-item.has-title,
  .hero-item.w2 {
    width: 46.9%; 
  }

}*/

/* ---- desktop ---- */
/*
@media screen and ( min-width: 960px ) {

  #hero h1 {
    font-size: 120px;
  }

  #hero .tagline {
    font-size: 32px;
  }

  .hero-item.has-title {
    width: 71.4%;
  }

  .big-ol-buttons .button {
    font-size: 1.6em;
    padding-left: 86px;
    min-height: 94px;
  }

  .big-ol-buttons .icon {
    font-size: 56px;
    left: 18px;
    top: 16px;
  }

}*/







#content #ultimos_trabalhos #todos_trabalhos {
	width:88px;
	background-color:#000;
	margin-top:20px;
	margin-left:627px;
	padding:15px 15px 15px 15px;
	font-size:20px;
	color:#FFFFFF;
}

#footer {
        /*position:absolute;*/
        /*bottom:inherit;*/
	margin-top:60px;
	padding-top:20px;
	width:100%;
	height:168px;
	background-color:#FFFFFF;	
	color:#000000;
	z-index:10;
}

#footer h4 {
	font-size:18px;
	margin-bottom:20px;
}

#footer p {
	font-size:14px;
	margin-bottom:5px;
}

#footer #footer_content {
	width:400px;
	margin:0 auto;	
}

#footer #footer_content a {
	color:#000;
}

#footer #location {
	float:left;
}

#footer #na_rede{
	float:right;
}

#footer #na_rede img{
	margin-right:5px;
}

#footer #direitos {
	float:right;
	margin-top:50px;	
	font-family:Verdana;
	font-size:12px;
}


/******************************************
INTERNAS
******************************************/

#title_page {
	width:422px;
	height:82px;
	background-color:#FFFFFF;
}

#title_page h1 {
	font-size:36px;
	color:#000000;
	text-align:right;
	padding:20px 20px;
}

#content #filtro_trabalhos {
	width:auto;
	height:57px;
	background:url(../images/bg_filttro_produtos.jpg) no-repeat;
	color:#000;
	margin-top:40px;
	padding:10px 20px 10px 20px;
}

#content #filtro_trabalhos a {
    color: #000;
}

#content #filtro_trabalhos p {

}

#content #filtro_trabalhos ul {
	float:right;
	margin-top:-15px;
}

#content #filtro_trabalhos li {
	display:inline;
}

#content .trabalho {
	margin-top:20px;
	padding:15px 0px 0px 10px;
	background-color:#FFFFFF;
	color:#000000;
	font-size:14px;
}

#content .trabalho img {
	border:#999999 1px solid;
	margin-top:10px;
	margin-bottom:10px;
}

#content .trabalho a {
	color:#000;
}

/********************************
TRABALHO
**********************************/

#content #trabalho_titulo {
	margin-top:30px;
	width:205px;
	padding:10px 10px 10px 10px;
	background-color:#e3e3e3;
	color:#000000;
	font-size:20px;
}

#content #trabalho {
	padding:15px 0px 15px 15px;
	background-color:#FFFFFF;
	color:#000000;
	font-size:14px;
}

#content #trabalho a {
	color:#000;
}

#content #trabalho img {
	border:#999999 1px solid;
	margin:20px 20px 0px 0px;
}

#content #trabalho h5 {
	margin-top:10px;
	font-size:18px;
}

#content #trabalho #acesse {
	width:60px;
	background-color:#000;
	margin-top:20px;
	padding:15px 15px 15px 15px;
	font-size:20px;
	color:#FFFFFF;
}

.voltar {
	width:55px;
	background-color:#FFF;
	margin-top:25px;
	padding:15px 15px 15px 15px;
	font-size:20px;
	color:#000;
}

/******************************************
SOBRE
*******************************************/

#content #info_content {
	margin-top:30px;
	margin-bottom:20px;
	background-color:#FFF;
	color:#000;
	height:461px;
}

#content #info_content a {
	color:#4c9ed9;
}

#content #info_content #foto{
	float:left;
	height:461px;
}

#content #info_content #infos{
	float:right;
	width:410px;
	padding:15px 10px 10px 10px;
}

#content #info_content #infos h3 {
	font-size:24px;
	margin-bottom:20px;
}

#content #info_content #infos h4 {
	font-size:18px;
	margin-top:20px;
}

#content #info_content #infos h5 {
	font-size:14px;
	margin-top:15px;
}

/****************************************
SERVI�OS
*****************************************/

#content_servico {
	position:relative;
	width:755px;
	height:520px;
	margin:0 auto;
	top:20px;
}

#content_servico .servico_left {
	width:238px;
	float:left;	
	margin-left: 12px;
} 

#content_servico .titulo_servico {
	color:#000;
	background-color:#e3e3e3;
	font-size:20px;
	padding:15px 15px;
}

#content_servico .servico {
	background-color:#FFF;
	color:#000;
	padding:15px 15px 5px 15px;
	height:auto;
	display:block;
}

#content_servico .servico h3 {
	font-size:18px;
	margin-bottom:15px;
}

#content_servico .servico h4 {
	font-size:14px;
	margin-bottom:10px;
}



/****************************************
CONTATO
*****************************************/

#content_contato {
	width:450px;
	background-color:#FFF;
	color:#000;
	margin:40px auto;
	padding:15px 15px 15px 15px;
	height: 100%;
	display: table;
}

.inputContato {
	width:425px;
	margin-bottom:15px;
	border:1px solid #CCC;
	font-size:16px;
	line-height:30px;
	font-family:Trebuchet MS;
}

.form-control {
  display: block;
  /*width: 100%;*/
  width: 425px;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.form-control:-moz-placeholder {
  color: #999999;
}

.form-control::-moz-placeholder {
  color: #999999;
}

.form-control:-ms-input-placeholder {
  color: #999999;
}

.form-control::-webkit-input-placeholder {
  color: #999999;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eeeeee;
}

textarea.form-control {
  height: auto;
}

#buttonContato {
	border:0px;
	background-color:#000;
	color:#FFF;
	padding:15px 15px 15px 15px;
	margin-top: 15px;
	font-size:20px;
	font-style:italic;
	/*margin-left:345px;*/
	border-radius: 4px;
	cursor: pointer;
	float: right;
}

.pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default; 
  margin-top: 25px;
}
.pagination a, .pagination span, .pagination em {
    padding: 0.2em 0.5em;
}
.pagination .disabled {
    color: #cccccc;
}
.pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #FFFFF;
}
.pagination a {
    border: 1px solid #dddddd;
    background-color: #FFFFF;
    color: #FFFFF;
    text-decoration: none;
}
/*.pagination a:hover, .pagination a:focus {
  border-color: #003366;
  background: #0063dc;
  color: white;
}*/
.pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em;
}
.pagination .previous_page, .pagination .next_page {
    border-width: 2px;
}
.pagination .previous_page {
    margin-right: 1em;
}
.pagination .next_page {
    margin-left: 1em;
}


.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 18px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.alert, .alert-heading {
  color: #c09853;
}

.close{
	margin-right: 10px;
	color: #000;
	cursor: pointer;
}

.close a:hover{
	color:#aaa;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-success, .alert-success .alert-heading {
  color: #468847;
}
.alert-danger, .alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
}
.alert-danger,
.alert-error,
.alert-danger .alert-heading,
.alert-error .alert-heading {
  color: #b94a48;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-info, .alert-info .alert-heading {
  color: #3a87ad;
}
.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}
.alert-block > p, .alert-block > ul {
  margin-bottom: 0;
}
.alert-block p + p {
  margin-top: 5px;
}

.carousel {
  position: relative;
  margin-bottom: 20px;
  margin-left: 10px;
  line-height: 1;
  width: 700px;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-inner > .item {
  max-width: 700px;
  position: relative;
  display: none;
  -webkit-transition: 0.6s ease-in-out left;
     -moz-transition: 0.6s ease-in-out left;
       -o-transition: 0.6s ease-in-out left;
          transition: 0.6s ease-in-out left;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  line-height: 1;
  max-width: 700px;
}

.inner-item {
    text-align: center;
 }

 .inner-item a img {
    margin: 0 auto;
    max-width: 700px;
}

.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}

.carousel-inner > .active {
  left: 0;
}

.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}

.carousel-inner > .next {
  left: 100%;
}

.carousel-inner > .prev {
  left: -100%;
}

.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}

.carousel-inner > .active.left {
  left: -100%;
}

.carousel-inner > .active.right {
  left: 100%;
}

.carousel-control {
  position: absolute;
  top: 50%;
  left: 15px;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  font-size: 60px;
  font-weight: 100;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  background: #222222;
  border: 3px solid #ffffff;
  -webkit-border-radius: 23px;
     -moz-border-radius: 23px;
          border-radius: 23px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.carousel-control.right {
  right: 15px;
  left: auto;
}

.carousel-control:hover,
.carousel-control:focus {
  color: #ffffff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.carousel-indicators {
  position: absolute;
  /*top: 15px;*/
  right: 15px;
  z-index: 5;
  margin: 0;
  list-style: none;
}

.carousel-indicators li {
  display: block;
  float: left;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  text-indent: -999px;
  background-color: #0063dc;
  /*opacity:.5;*/
  /*background-color: rgba(255, 255, 255, 0.25);*/
  border-radius: 5px;
}

.carousel-indicators .active {
  background-color: #000;
  /*opacity:1;*/
}

.carousel-caption {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 15px;
  background: #333333;
  background: rgba(0, 0, 0, 0.75);
}

.carousel-caption h4,
.carousel-caption p {
  line-height: 20px;
  color: #ffffff;
}

.carousel-caption h4 {
  margin: 0 0 5px;
}

.carousel-caption p {
  margin-bottom: 0;
}




body span.ajax-loading {
    display: none;
    position: absolute;
    top: 290px;
    left: 50%;
    margin-left: -14px;
    width: 28px;
    height: 28px;
    background: url('/front/app/images/ajax-loader.gif') no-repeat;
}
body span.ajax-loading .active{
	display: block;
}
body.loading span.ajax-loading {
    display: block;
}
html>body>div#loader {
    display: block;
    position: absolute;
    width: 259px;
    height: 25px;
    top: 50%;
    left: 50%;
    margin-left: -129px;
    margin-top: -12px;
    z-index: 99;
}
html>body>div#loader span#bar {
    display: block;
    position: absolute;
    width: 0;
    height: 100%;
    background-color: #34488d;
}
html>body>div#loader span {
    background: url('/front/app/images/logo_silveiracamilo.jpg') no-repeat;
}

.hide-opacity {
    transition: all 1s linear;
    opacity: 0;
}
.hide-width {
    transition: all 1s linear;
    width: 0px;
}
.show-opacity {
    transition: all 1s linear;
    opacity: 100%;
}


.ng-invalid.ng-dirty {
	border-color: #FA787E;
} 

.ng-valid.ng-dirty {
	border-color: #009900;
}


/** DELAY **/

.delay02 {
  -webkit-animation-delay: .2s;
  animation-delay: .2s;
}

.delay04 {
  -webkit-animation-delay: .4s;
  animation-delay: .4s;
}

.delay05 {
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
}

.delay06 {
  -webkit-animation-delay: .6s;
  animation-delay: .6s;
}

.delay07 {
  -webkit-animation-delay: .7s;
  animation-delay: .7s;
}

.delay08 {
  -webkit-animation-delay: .8s;
  animation-delay: .8s;
}

.delay09 {
  -webkit-animation-delay: .9s;
  animation-delay: .9s;
}

.delay1 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.delay11 {
  -webkit-animation-delay: 1.1s;
  animation-delay: 1.1s;
}

.delay12 {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

.delay13 {
  -webkit-animation-delay: 1.3s;
  animation-delay: 1.3s;
}

.delay14 {
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}

.delay15 {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.delay16 {
  -webkit-animation-delay: 1.6s;
  animation-delay: 1.6s;
}

.delay17 {
  -webkit-animation-delay: 1.7s;
  animation-delay: 1.7s;
}

.delay18 {
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s;
}

.delay19 {
  -webkit-animation-delay: 1.9s;
  animation-delay: 1.9s;
}

.delay2 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.delay20 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.delay21 {
  -webkit-animation-delay: 2.1s;
  animation-delay: 2.1s;
}

.delay22 {
  -webkit-animation-delay: 2.2s;
  animation-delay: 2.2s;
}

.delay23 {
  -webkit-animation-delay: 2.3s;
  animation-delay: 2.3s;
}

.delay24 {
  -webkit-animation-delay: 2.4s;
  animation-delay: 2.4s;
}

.delay25 {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

.delay26 {
  -webkit-animation-delay: 2.6s;
  animation-delay: 2.6s;
}

.delay27 {
  -webkit-animation-delay: 2.7s;
  animation-delay: 2.7s;
}

.delay28 {
  -webkit-animation-delay: 2.8s;
  animation-delay: 2.8s;
}

.delay29 {
  -webkit-animation-delay: 2.9s;
  animation-delay: 2.9s;
}


/** NOVO **/

#title{
  margin:0 auto;
  margin-top:20px;
  text-align: center;
}
#title h1{
  font-size: 60px;
  color: #f15753;
}
#title h2{
  font-size: 120px;
  margin-top: -4px;
  color: #404041;
}
#title h3{
  font-size: 40px;
  margin-top: -10px;
  color: #404041;
}