<div id="title_page" class="animated fadeInLeft delay1">
	<h1 id="titulo">Sobre</h1>
</div>

<div id="content">
	<h1 class="animated fadeInLeft delay12">{{about.title}}</h1>
	<h2 class="animated fadeInRight delay14">Desenvolvedor web e mobile, localizado em São Paulo/SP - Brasil. Especialista em interatividade, fazendo sua aplicação dinâmica e com CMS para administrar o seu conteúdo.</h2>
	<div id="info_content" class="animated fadeInUp delay2">
		<div id="foto" class="animated flipInY delay25"><img ng-src="{{about.picture}}" /></div>
		<div id="infos" ng-bind-html="about.description" class="animated fadeInRight delay26"></div>
	</div>
</div>