<div id="title_page">
  <h1 id="titulo">Contato</h1>
</div>

<div id="content_contato">
	<form>
	    <p>seu nome:</p>
	    <input name='nome' type="text" class="inputContato"/>
	    <p>seu email:</p>
	    <input name='email' type="text" class="inputContato"/>
	    <p>assunto:</p>
	    <input name='assunto' type="text" class="inputContato"/>
	    <p>mensagem:</p>
	    <textarea name='mensagem' class="inputContato" rows="6" cols="20"></textarea>
	    <input type="submit" value="Enviar" id="buttonContato" />
    </form>
</div>
