<div id="content">
	<h1 id="ola">{{home.title}}</h1>
	<h2 id="selecionei">{{home.description}}</h2>
	<div id="ultimos_trabalhos_titulo">Últimos trabalhos</div>
	<div id="ultimos_trabalhos">					
		<div ng-repeat="work in works">
			<a href="#/trabalho/{{work.path}}">
				<strong>{{work.title}} - {{work.date}}</strong>
				<img src="{{work.thumb}}" width=730 height=107 title="{{work.titulo}}" alt="{{work.titulo}}"/>
			</a>
		</div>
        <a href="#/trabalhos" class="link_box"><div id="todos_trabalhos">Ver todos</div></a>
	</div>
</div>