<div id="content">
	<h1 id="ola">{{home.title}}</h1>
	<h2 id="selecionei">{{home.description}}</h2>
	<!--<div id="ultimos_trabalhos_titulo">Últimos trabalhos</div>-->
	<!--<div class="hero-masonry" works-grid>					
		<div ng-repeat="work in works" class="hero-item">
			<a href="#/trabalho/{{work.path}}">
				<strong>{{work.title}} - {{work.date}}</strong>
				<img src="{{work.thumb}}" title="{{work.titulo}}" alt="{{work.titulo}}"/>
			</a>
		</div>
        <a href="#/trabalhos" class="link_box"><div id="todos_trabalhos">Ver todos</div></a>
	</div>-->
	<works-grid></works-grid>
</div>