<div id="content">
	<h1 class="animated fadeInLeft delay12">Feitos com carinho.</h1>
	<h2 class="animated fadeInRight delay14">Fique a vontade, não tenho pressa.
          Selecionei os meus melhores trabalhos, espero que goste.</h2>
	
	<div id="filtro_trabalhos"  class="animated fadeInUp delay16">
		<p>filtrar trabalhos</p>
		<ul>
			<li><a href class="link_comum">todos</a></li> 
			<li ng-repeat="work_type in work_types">
				<a href class="link_comum"> | {{work_type.name}}</a>
			</li>
		</ul>
	</div>

	<works-grid></works-grid>
</div>